<li class="nav-item px-3">
    <NavLink class="nav-link" href="/intro">
        Intro Page
    </NavLink>
</li>

<li class="nav-item px-3">
    <NavLink class="nav-link" href="/profile">
        Profile
    </NavLink>
</li>

<li class="nav-item px-3">
    <NavLink class="nav-link" href="/monkeys">
        Monkeys
    </NavLink>
</li>
